<!doctype html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_object.name }}</h1>
                <div>
                    <p>
                        <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
                    </p>
                </div>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todo_object.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' todo.id %}">
                                        {{ todo.task }}
                                    </a>
                                </td>
                                <td>{{ todo.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
